<section class="user_posts">
  <div class="user_wrapper">
  <span class="post_number">
  <a href="<%= @user.photo %>">Photo</a>
  </span>
  <div class="user_info">
    <h2><%= @user.name %></h2>
    <span>
    Number of posts:
    <%= @user.posts_counter%>
    <% if @user.posts_counter.nil?%>
    <%= "0" %>
    <%end%>
    </span>
  </div>
  </div>

  <% @posts.each do |post| %>
    <%= render post %>
  <%end%>
  <%= link_to "New Post", new_user_post_path %>
  <button type="button">Pagination</button>
</section>